@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
:root{
	--verdefuerte: rgb(12,35,30); /*#0c231e*/
	--verdeclaro:  rgb(19,50,43); /*#13322b*/
	--grisoscuro:  rgb(64,64,65); /*#404041*/
    --azulver1:    rgb(130,190,245); /*#82bef5*/
    --azulver2:    rgb(117,171,220); /*#75abdc*/
}
nav{
	max-width: 900px;
	margin: auto;
	background-color: #333;
	font-size: 20px;
	margin-top: 50px;
}
.menuhorizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
	background-color: var(--azulver2);
	text-align: center;
	vertical-align: middle;
}
.menuhorizontal > li > a:hover{
	color: var(--grisoscuro);
}
.menuhorizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}

.menuvertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: var(--azulver2);
	text-align: center;
	vertical-align: middle;
}
.menuhorizontal li:hover .menuvertical{
	display: block;
}
.menuvertical a:hover{
	color: var(--grisoscuro);
}

.menuvertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;

}